<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Farol Verde</title>
    <script type="text/javascript">
        Global = { Response: {} };

        Global.SiteRootUrl = '@Url.Content("~/Content/Images/")';
        Global.SiteRootPath = '@Url.Content("~/")';
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
</head>
<body>
    <div class="header">
        <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Farol Verde</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
